// Place all the styles related to the Advertisements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#myCarousel { margin-left: -30px }

.carousel-inner {
  .item { 
    padding-left: 72px; 

    .inner-item {
      width: 94%;

      iframe { display: inline-block; }

      .ad-data {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 37%;

        .name { 
          font-size: 20px;
          font-weight: bold;
          color: black;
          margin: 0 auto;
        }

        .rating { 
          background-image: url("rating-star.gif");
          background-size: 100%;
          width: 150px;
          height: 82px;
          padding-top: 65px;
          font-size: 20px;
          text-align: center;
          margin: 0 auto;
        }

        .user-rating {
          width: 105px;
          margin: 0 auto;
          height: 22px;
          margin-top: 5px;
        }

        button.facebook_share {
          background: url("facebook_share.png");
          background-size: 100%;
          width: 122px;
          height: 42px;
          border: none;
          margin-top: 10px;
        }
      }
    }
  }
}

.no-ads {
  text-align: center;
}
