// Place all the styles related to the Advertisements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#myCarousel { 
  margin-left: -30px; 
  margin-top: 20px; 

  .carousel-control { top: 240px; }
}

.carousel-inner {
  .item { 
    padding-left: 72px; 

    .inner-item {
      width: 94%;

      iframe { display: inline-block; }

      .kt-graphs {
        height: 250px;
        margin-top: 20px;

        .gender_graph {
          margin-left: 20px;
        }
      }

      .ad-data {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 39%;
        height: 390px;

        .name { 
          font-size: 28px;
          font-weight: bold;
          color: white;
          margin: 0 auto;
          height: 115px;
          a { color: white; font-size: 28px; }
        }

        .rating { 
          background-image: url("rating-star.gif");
          background-size: 100%;
          width: 150px;
          height: 82px;
          padding-top: 65px;
          font-size: 20px;
          text-align: center;
          margin: 0 auto;
          margin-top: -15px;
        }

        .user-rating {
          width: 105px;
          margin: 0 auto;
          height: 22px;
          margin-top: 5px;
        }

        button.facebook_share {
          background: url("facebook_share.png");
          background-size: 100%;
          width: 122px;
          height: 42px;
          border: none;
          position: absolute;
          right: 0;
          top: 350px;
          margin-top: 0px;
          margin-right: 70px;
        }

        .stats_count {
          position: absolute;
          top: 360px;
          margin-left: 10px;
          margin-top: 0px;
          color: black;
          width: 23%;
          p {
            font-size: 18px;
            display: inline;
            &.first { margin-left: -30px; }
            &.second { margin-left: 50px; }
          }
        }
      }
    }
  }
}

.no-ads {
  text-align: center;
}
